<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Device SVG Generator</title>
    <link rel="stylesheet" href="css/all.css" />
    <script src="js/all.js" defer="defer"></script>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
