<article id="options">
  <h1>Device SVG Generator</h1>

  <label for="model-select">Model: </label>
  <select id="model-select">
  </select>

  <section id="model-options">
  </section>
</article>

<aside id="preview">
  <div id="svg-wrapper">
  </div>
</aside>
